<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\ProgramData\Anaconda3\python.exe|C:\ProgramData\Anaconda3\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script"
           />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\argo_controls_platform"/>
  </appSettings>
</configuration>