{% extends "shared/_layout.html" %}
{% block title %} ACP - Truthtable Parser {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataframe.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Truthtable Parser</h1>
    <div class="row">
        <div class="col-sm-8">
            <form method="POST">
                {{ ttparse_form.hidden_tag() }}
                <div class="input-group mb-3">
                    <div class="col-md-6">{{ ttparse_form.ttname(class="form-control", placeholder="Truthtable Unit Name") }}</div>
                    {{ ttparse_form.submit(class="btn btn-primary") }}
                </div>
                <div class="input-group mb-3">
                    <div class="col-md-6">{{ ttparse_form.seqnum(class="form-control", placeholder="Sequence Number") }}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<div class="container-fluid">
    <h3><em>Truthtable for <strong>{{ ttname }}</strong> - Sequence <strong>{{ seqnum }}</strong></em></h3>
    {{ tt_table | safe }}
</div>

{% endblock %}